# Node.js dependencies
node_modules/

# Rollup build directory
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# TypeScript cache
*.tsbuildinfo

# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS specific files
.DS_Store

# Linux specific files
*~

# Windows specific files
Thumbs.db
